<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.tamu.tcat.analytics.datatrax.transformfactories">
      <transformer_factory
            class="edu.tamu.tcat.analytics.image.integral.datatrax.BufferedImageAdapter"
            id="tcat.dia.images.adapters.buffered.integral"
            output_type="edu.tamu.tcat.analytics.image.integral.IntegralImage"
            source_type="java.awt.image.BufferedImage"
            title="Integral Image Adapter (BufferedImage)">
      </transformer_factory>
      <transformer_factory
            class="edu.tamu.tcat.dia.binarization.datatrax.BinaryImageWriter"
            id="tcat.dia.images.adapters.binary.writer"
            output_type="edu.tamu.tcat.dia.binarization.BinaryImage"
            source_type="edu.tamu.tcat.dia.binarization.BinaryImage"
            title="Binary Image Writer">
      </transformer_factory>
   </extension>

</plugin>
